<?php
/**
 * Get.Noticed Employees module - List of employees
 *
 * @var GetNoticed\Employees\Block\EmployeesList $block
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 */
?>
<div class="employees">
    <?php foreach ($block->getEmployeeCollection() as $employee):
        /** @var \GetNoticed\Employees\Model\Employee $employee */ ?>
        <div class="employee">
            <h1 class="employee-name"><?php echo $employee->getName() ?></h1>
        </div>
    <?php endforeach; ?>
</div>